.face-serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 42px;
}

.georgia {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique 40deg;
}

.text-144 {
  font-size: 144px;
}

.text-128 {
  font-size: 128px;
}

.text-96 {
  font-size: 96px;
}

.text-72 {
  font-size: 72px;
}

.text-64 {
  font-size: 64px;
}

.text-48 {
  font-size: 48px;
}

.text-36 {
  font-size: 36px;
}

.text-24 {
  font-size: 24px;
}

.text-1em {
  font-size: 1em;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-12 {
  font-size: 12px;
}

.bold {
  font-weight: 900;
}

.flex-100p {
  @include archi-border-title;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

rt {
  color: $orange;
}

.emph {
  color: $green;
}

iframe {
  @include archi-border;
}

.vspace1 {
  height: 1rem;
  width: 100%;
}

.vspace2 {
  height: 2rem;
  width: 100%;
}

.vspace3 {
  height: 3rem;
  width: 100%;
}

.bottom-0 {
  margin-bottom: 0;
}

.shadow {
  @include text-shadow335($orange-t);
  // filter: blur(8px);
}

.tag {
  color: $blue;
  font-family: $ibm-plex-mono;
  font-size: 14px;


  &::before {
    content: '<';
    margin-right: .1rem;
  }

  &::after {
    content: '>';
    margin-left: .1rem;
  }
}

.css-prop {
  color: $pink;
  font-family: $ibm-plex-mono;
  font-size: 14px;

  &::before {
    content: '{';
    margin-right: .1rem;
  }

  &::after {
    content: '}';
    margin-left: .1rem;
  }
}
