/* #region Gantt Graph */

#output {
  // margin-right: calc(#{$spyCol-width} + 1.2em);
  color: #0d54d8;
}

#theGraph {
  font-size: 1rem;
  font-family: $fira-sans-xcond;
  color: #10863d;
  font-weight: 300;
  width: 100%;
  // margin-right: 1em;
  // margin-left: -45px;

  span.edgeLabel {
    background-color: $gray-100;
    color: red;
  }

  rect.label-container {
    stroke: #777777;
    stroke-width: 2px;
    color: #0058db !important;
  }
}

#theGraph .edgePath .path {
  stroke: #804d00;
  stroke-width: 1px;
}

/* #endregion Gantt Graph */
