/* font mixins */
@mixin font-property-inherit() {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
}

@mixin font-property-initial() {
  font-size: initial;
  font-weight: initial;
  font-family: initial;
  line-height: initial;
}


/* border mixins */
@mixin archi-border-dropdown() {
  background-color: $transparent;
  border: 7px solid $transparent;
  border-image: url('../../img/border-image-orange-26x26-tick-6px.png') 7 round;
}

@mixin archi-border() {
  background-color: $gray-100;
  border: 8px solid $transparent;
  border-image: url('../../img/border-box-orange-main.png') 7 round;
  // box-shadow: 
  // 1px 1px 5px $gray-400;
}

@mixin archi-divider() {
  // background-color: $transparent;
  border: 1px solid $transparent;
  border-image: url('../../img/h-divider-line.png') 1 round;
}

@mixin archi-border-main() {
  // background-color: $transparent;
  border: 9px solid $transparent;
  border-image: url('../../img/border-box-27x27.png') 9 repeat;
}

@mixin archi-border-title() {
  background-color: $gray-100;
  border: 9px solid $transparent;
  border-image: url('../../img/border-box-999-222.png') 9 repeat;
}

@mixin archi-border-code() {
  background-color: $gray-100;
  border: 9px solid $transparent;
  border-image: url('../../img/border-image-green.png') 9 repeat;
}

/* list marker mixins */
@mixin color-list-item() {
  list-style-type: none;
  line-height: 1.8;
  margin: 0.5em 0;
  display: block;
}

@mixin color-list-marker($border, $border-shadow, $bgcolor) {
  line-height: 1.8em;
  content: '';
  width: 0.5em;
  height: 0.5em;
  border: 1px solid $border;
  box-shadow: 2px 1px 4px $border-shadow;
  border-radius: 50%;
  display: inline-block;
  background-color: $bgcolor;
  vertical-align: middle;
  margin-right: 0.5em;
  margin-bottom: 2px;
  list-style-position: outside;
}

@mixin arrow-marker($color, $weight){
  font-family: $awesome;
  color: $color;
  content: "\f105";
  font-weight: $weight;
  margin-right: 0.5em;
  margin-bottom: 2px;
}

