/* #region root, html, body and etc...  */

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

html,
body {
  font-family: $noto-sans-kr;
  padding: 0;
  margin: 0;
  width: 100%;
  background-image: url('/img/ancient-symbols-set.svg');
  background-attachment: fixed;

  // font-family: "Noto Sans Kr";
  box-sizing: border-box;
  position: relative;
  // scroll-behavior: smooth;
}

pre > code {
  font-family: $ibm-plex-mono;
  font-size: 0.8rem;
  // border-radius: 6px;
  background-color: $gray-dark;
  @include archi-border-code();
}
pre {
  font-family: $ibm-plex-mono;
  font-size: 0.8rem;
  // border-radius: 6px;
  background-color: $gray-dark;
  @include archi-border-code();
}

pre > code::selection {
  background-color: $orange-t;
}

/////// NOTE pre code는 vs2015.scss의 .hljs class에서 다룰 것.

.alt-image-r {
  font-size: 64px;
}

.alt-image-l {
  font-size: 64px;
}
/* #endregion root and html, body */