/* #region root, html, body and etc...  */

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

html,
body {
  font-family: $noto-sans-kr;
  padding: 0;
  margin: 0;
  width: 100%;
  background-image: url('/img/ancient-symbols-set.svg');
  background-attachment: fixed;

  // font-family: "Noto Sans Kr";
  box-sizing: border-box;
  position: relative;
  color: $black;
  font-weight: 500;
  font-size: 1rem;
  // scroll-behavior: smooth;
}

/////// NOTE pre code는 vs2015.scss의 .hljs class에서 다룰 것.

.alt-image-r {
  font-size: 64px;
}

.alt-image-l {
  font-size: 64px;
}

code>sup {
  font-weight: bold;
}

code>sup::before {
  color: $success;
  content: ' *';
  font-weight: bold;
}

/* #endregion root and html, body */