/* #region scroll spy contents part */
div#scrollContent.scroll-content {
  margin-top: calc(#{$navbar_height} - 0.5em);
  margin-left: 0;
  margin-right: $spyCol-width;
  margin-bottom: 1em;
  background-color: $transparent;
  // overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 8;
  width: 100% - $spyCol-width;
  font-family: $noto-sans-kr;
  font-size: 1em;
  font-weight: 300;
  position: relative;
  width: 100%;
  min-height: 1px;
  // padding-right: 15px;
  // padding-left: 15px;
  padding: 0 $navbar_height $navbar_height $navbar_height;
  flex: 83.333333%;
  max-width: 83.333333;
  padding-bottom: 500px;
  background-color: #fff;
  @include archi-border-main();

  // height: 100vh;

  .normal-wrap h4+p.lead {
    margin-top: 0;
  }


  hr {
    @include archi-border-main();
    // border-image-outset: 8px 8px 0 8px;
    background-color: transparent;
    // border: 3px solid transparent;
    border-width: 0 5px 6px 5px;
  }

  div.align-center {
    display: flex;
    align-content: center;
  }

  q.block {
    display: block;
    margin: 1em;
    color: $success;
    font-weight: 500;
  }

  q.block::before {
    font-family: $awesome;
    content: '\f10d';
    font-size: .3rem;
    position: relative;
    margin-right: 0.25rem;
    top: -0.5rem;
  }

  q.block::after {
    font-family: $awesome;
    content: '\f10e';
    font-size: .3rem;
    position: relative;
    // top: 0.5rem;
    margin-left: 0.25rem;
  }

  section {
    margin-top: 1em;
    margin-bottom: 100px;
    // .normal-wrap {
    //   text-align-last: left;
    // }

    .normal-wrap .normal-wrap {
      margin-left: 1em;
    }

    p,
    p.lead {
      font-size: 1rem;
      font-family: $main-para-font;
      font-weight: 300;
      word-wrap: none;
      word-break: normal;
      display: block;
      margin: 1em 0;
      font-weight: 300;
    }

    p.lead:first-of-type {
      margin-top: 0em;
    }

    p.lead:last-of-type {
      margin-bottom: 2em;
    }

    ul.red {
      li {
        @include basic-list-item();
      }

      li::before {
        // font-family: $awesome;
        // color: $danger;
        // content: "\f105";
        // font-weight: bold;
        @include color-list-marker($white, $gray-500, $red);
      }
    }

    ul.green {
      li {
        @include basic-list-item();
      }

      li::before {
        // font-family: $awesome;
        // color: $danger;
        // content: "\f105";
        // font-weight: bold;
        @include color-list-marker($white, $gray-500, $green);
      }
    }

    ul.blue {
      li {
        @include basic-list-item();
      }

      li::before {
        // font-family: $awesome;
        // color: $danger;
        // content: "\f105";
        // font-weight: bold;
        @include color-list-marker($white, $gray-500, $blue);
      }
    }

    ul.orange {
      li {
        @include basic-list-item();
      }

      li::before {
        // font-family: $awesome;
        // color: $danger;
        // content: "\f105";
        // font-weight: bold;
        @include color-list-marker($white, $gray-500, $orange);
      }
    }
  }
}

ul.check-all {
  li {
    @include basic-list-item();
  }

  li::before {
    @include list-item-check($success, "\f00c");
    // @include arrow-marker($danger, bold);
  }

  li.uncheck {
    @include basic-list-item();
  }

  li.uncheck::before {
    @include list-item-uncheck($danger, "\f00d");
  }
}

ul.uncheck-all {
  li {
    @include basic-list-item();
  }

  li::before {
    @include list-item-check($yellow, "\f00d");
  }


  li.check {
    @include basic-list-item();
  }

  li.check::before {
    @include list-item-check($success, "\f00c");
  }

}

/* #endregion scroll spy contents part */