/* #region scroll spy contents part */
div#scrollContent.scroll-content {
  background-color: $transparent;
  margin-top: calc(#{$navbar_height} - 0.5em);
  margin-left: 0;
  margin-right: $spyCol-width;
  font-weight: 300;
  margin-bottom: 1em;
  // overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 8;
  width: 100% - $spyCol-width;
  font-family: $noto-sans-kr;
  font-size: 1em;
  position: relative;
  width: 100%;
  min-height: 1px;
  // padding-right: 15px;
  // padding-left: 15px;
  padding: 0 $navbar_height $navbar_height $navbar_height;
  flex: 83.333333%;
  max-width: 83.333333;
  padding-bottom: 500px;
  background-color: #fff;
  @include archi-border-main();


  a:link {
    color: $blue;
    text-decoration: underline;
    // text-decoration-style: dotted;
  }


  a:hover {
    color: $red;
  }

  a:visited {
    color: $indigo;
  }
  .normal-wrap h4+p.lead {
    margin-top: 0;
  }

  hr {
    @include archi-border-main;
    // border-image-outset: 8px 8px 0 8px;
    background-color: transparent;
    // border: 3px solid transparent;
    border-width: 0 5px 6px;
  }

  div.align-center {
    align-content: center;
    display: flex;
  }

  q::before {
    color: $danger;
    font-weight: bold;
    font-family: $roboto;
  }

  q::after {
    color: $danger;
    font-weight: bold;
    font-family: $roboto;
  }

  q.inline {
    margin: 1em;
    color: $danger;
    font-weight: 500;
  }


  q.inline::before {
    font-family: $awesome;
    content: '\f100';
    font-size: 1rem;

    margin-right: 0.25rem;
  }


  q.inline::after {
    font-family: $awesome;
    content: '\f101';
    font-size: 1rem;
    // top: 0.5rem;
    margin-left: 0.25rem;
  }

  q.block::before {
    font-family: $awesome;
    content: '\f10d';
    font-size: .3rem;
    position: relative;
    margin-right: 0.25rem;
    top: -0.5rem;
  }



  q.block::after {
    font-family: $awesome;
    content: '\f10e';
    font-size: .3rem;
    position: relative;
    // top: 0.5rem;
    margin-left: 0.25rem;
  }

  q.block-success {
    display: block;
    margin: 1em;
    color: $success;
    font-weight: 500;
  }

  section {
    margin-top: 1em;
    margin-bottom: 100px;
    // .normal-wrap {
    //   text-align-last: left;
    // }

    .normal-wrap .normal-wrap {
      margin-left: 1em;
    }

    p,
    p.lead {
      font-size: 1rem;
      font-family: $main-para-font;
      font-weight: 300;
      word-wrap: none;
      word-break: normal;
      display: block;
      margin: 1em 0;
      font-weight: 300;
    }

    p.lead:first-of-type {
      margin-top: 0em;
    }

    p.lead:last-of-type {
      margin-bottom: 2em;
    }

    ul,
    li {
      font-size: 0.8rem;
    }

    ul.red {
      li {
        @include basic-list-item();
      }

      li::before {
        // font-family: $awesome;
        // color: $danger;
        // content: "\f105";
        // font-weight: bold;
        @include color-list-marker($white, $gray-500, $red);
      }
    }

    ul.green {
      li {
        @include basic-list-item();
      }

      li::before {
        // font-family: $awesome;
        // color: $danger;
        // content: "\f105";
        // font-weight: bold;
        @include color-list-marker($white, $gray-500, $green);
      }
    }

    ul.blue {
      li {
        @include basic-list-item();
      }

      li::before {
        // font-family: $awesome;
        // color: $danger;
        // content: "\f105";
        // font-weight: bold;
        @include color-list-marker($white, $gray-500, $blue);
      }
    }

    ul.orange {
      li {
        @include basic-list-item();
      }

      li::before {
        // font-family: $awesome;
        // color: $danger;
        // content: "\f105";
        // font-weight: bold;
        @include color-list-marker($white, $gray-500, $orange);
      }
    }
  }
}

ul.check-all {
  li {
    @include basic-list-item();
  }

  li::before {
    @include list-item-check($success, "\f00c");
    // @include arrow-marker($danger, bold);
  }

  li.uncheck {
    @include basic-list-item();
  }

  li.uncheck::before {
    @include list-item-uncheck($danger, "\f00d");
  }
}

ul.uncheck-all {
  li {
    @include basic-list-item();
  }

  li::before {
    @include list-item-check($danger, "\f00d");
  }


  li.check {
    @include basic-list-item();
  }

  li.check::before {
    @include list-item-check($success, "\f00c");
  }

}

pre>code {
  font-family: $ibm-plex-mono;
  font-size: 0.8rem;
  // border-radius: 6px;
  @include archi-border-code();
}

.simple-code {
  font-family: $ibm-plex-mono;
  font-size: 0.75rem;
  // border-radius: 6px;
  background-color: $gray-300;
  padding: 1rem;
  border-radius: .5rem;
  word-break: break-all;
  color: $pink;
}

pre>code::selection {
  background-color: $orange-t;
}

code.success {
  display: block;
  margin: 1rem 0;
  padding: 1em;
  background-color: $gray-200;
  border-left: medium solid $success;
}

code.bg-gray ul {
  display: block;
  margin: 1rem 0;
  padding: 1em;
  color: $dark;
  background-color: $gray-200;
  border-radius: 0.5rem;
}

span.space {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

/* #endregion scroll spy contents part */