html {
  font-size: .8em;
  // scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 1em;
  font-family: $para-font;
  box-sizing: border-box;
  // word-spacing: 3px;
  position: relative;
  /* scroll-behavior: smooth; */
}

/* * {border: 1px solid red;} */