form.form-inline {
  align-self: flex-end;
  justify-self: self-end;
  /* / width: 30%; */

  input.form-control {
    padding-top: 4px;
    margin-bottom: 0;
    height: 32px;
    border-radius: 4px 0 0 4px;
    margin-right: 0 !important;
  }
  button.btn{
    border-radius: 0 4px 4px 0;
    background-color: transparent;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    color: $success;
  }
  
  button.btn:hover{
    background-color: $orange;
    color: white;
  }

}
