/* Variables */
$header-font : 'Fira Sans Extra Condensed';
$heading-font : 'Fira Sans Extra Condensed';
$button-font : 'Noto Sans Kr';
$para-font : 'Noto Sans Kr';
$roboto: Roboto;
$partial-bgcolor: transparent;
$font-family : 'Noto Sans KR',
sans-serif;
$coding-font : 'Fira Code';
$main-color: #f5c02f;
$sub-color: #f5c02f8f;
$hr-color : #943232;
$heading-color : #278eee;
$emph-color : #f3a93b;
$warn-color : #aa1378;
$h1-size : 42px;
$note-bgc : #fcca66;
$note-color : #000000;
$background-color: #383838;

$blue: #007bffdd;
$indigo: #6610f2dd;
$purple: #6f42c1dd;
$pink: #e83e8cdd;
$red: #dc3545dd;
$orange: #fd7e14dd;
$yellow: #ffc107dd;
$green: #28a745dd;
$teal: #20c997dd;
$cyan: #17a2b8dd;
$white: #ffffffdd;
$gray: #6c757ddd;
$gray-dark: #343a40;
$primary: #007bffdd;
$secondary: #6c757ddd;
$success: #28a745dd;
$info: #17a2b8dd;
$warning: #ffc107dd;
$danger: #dc3545dd;
$light: #f8f9fadd;
$dark: #343a40;
$rich-black: #111111;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;